nav(class="navbar navbar-inverse navbar-default")
  div(class="container")
    div(class="navbar-header")
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="#") Forum
    div(id="navbar", class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li(class="active") 
          a(href="#") Home
        li
          a(href="#about") About
        li
          a(href="#contact") Contact
        li(class="dropdown")
          a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown 
            span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="#") Action
              li 
                a(href="#") Another action
              li
                a(href="#") Something else here
              li(role="separator", class="divider")
              li(class="dropdown-header") Nav header
              li
                a(href="#") Separated link
              li
                a(href="#") One more separated link
      form(class="navbar-form navbar-right", _lpchecked="1")
        div(class="form-group")
          input(type="text", placeholder="Email", class="form-control", autocomplete="off")
        div(class="form-group")
          input(type="password", placeholder="Password", class="form-control", autocomplete="off")
        button(type="submit", class="btn btn-success") Sign in