extends ../layout

block content
  section(class="jumbotron")
    div(class="container")
      h1 Ask, Learn, Share
      p Each month, over 50 trillion Indians come to F O R U M to learn and share their knowledge.
      p
        a(class="btn btn-lg btn-default", href="#", role="button") Sign In
  div(class="container")
    section(class="featured-questions")
      h3(class="heading") Featured Questions
      ul(class="media-list")
        each question in context
          li(class="media")
            div(class="row")
              div(class="col-md-2")
                div(class="row")
                  div(class="col-md-4") 0 Views
                  div(class="col-md-4") 0 Answers
                  div(class="col-md-4") 0 Votes
              div(class="col-md-10")
                div(class="media-body")
                  h4(class="media-heading") 
                    a(href="/questions/" + question.id) 
                      =question.title
                  p 
                    =question.body